* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: white;
    overflow: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 30%;
    color: black;
    text-shadow: 0.5px 0.5px 0.5px gray;   
}

header { 
    width: 100%;
    position: relative;
    padding:0.5%;
    color: rgb(18, 1, 80);
    font-size: 20px;
    overflow: auto;
    padding:10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1em;
    position: relative;
    text-align: center;
}

header p:nth-of-type(1) {
    font-weight: bolder;
    font-style: italic;
}
header p:nth-of-type(2) {
    font-size: 30px;
    letter-spacing: 8px;
}
header p:nth-of-type(3){
    font-style: italic;
}
table {margin: auto;}

table, th, td {
    border: 1px solid rgb(0, 7, 102);
}

footer{
    background-color: rgb(209, 209, 255);
    border-top : 10px groove  rgb(63, 63, 255)
}

footer h2 {text-align: center;}

footer aside {
    display:flex;
    text-decoration: none;
}

.littlelogo1 {
    width:25px;
    height:25px;
    
}
.littlelogo2 {
    width:50px;
    height:25px;
}

.spectext {
    font-weight: bold; 
    font-style: italic;
}

.hyfpic {
    min-width: 150px;
    width:100%;
    margin:auto;
}

.groupphoto {
    width:100%;
    margin-top:20px;
}

section p {
    font-size:16px;
    text-shadow: none;
}

nav a , footer a {
    text-decoration: none;
    font-weight:bold;
}

@media screen and (max-width:650px) {
    nav {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 25%;
        min-width:200px;
        text-align: center;
        line-height: 1em;
        margin-top: 5px;
        font-weight: bolder;
        font-style: italic;
    }  

    .toppiccontainer { margin: auto;}

    .topleftpic {
        width:15%;
        min-width:150px;
        border-radius: 40%;
        margin: auto;    
    }

    .button {
        border: 2px solid rgb(184, 184, 184);
        border-radius: 25% 10%;
        width: 200px;
        font-size: 16px;
        padding:10px;
        margin-top:10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    section {text-align: center;}
      
    footer aside {
        flex-direction: column;
        align-items: center;
        padding-bottom:30px;
    }

    .linktomail {
        display: flex;
        flex-direction: row;
    }

    .linktomail * {margin:10px;}
}

@media screen and (min-width:650px) {
    header {
        float: right;
        width: 60% ;
        text-align: left;      
        margin-bottom: 50px;        
    }
    
    header p:nth-of-type(1) {padding-left:50px;}
    header p:nth-of-type(2) {padding-left:100px;}
    header p:nth-of-type(3) {padding-left:220px;}
    
    section {margin-bottom: 50px;}

    nav {
        position: fixed;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 250px;
        text-align: center;
        line-height: 1em;
        font-style: italic;
    }

    main {
        margin-left:250px;
        text-align: center;
        padding:3%;
        padding-top:230px; 
    }

    .button {
        border: 1px solid rgb(184, 184, 184);
        border-radius: 25% 10%;
        width: 200px;
        padding:5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin:5px;
        font-size: 18px;
        text-decoration: none;
    }
    
    .topleftpic {
        margin:auto;
        width:20%;
        min-width:200px;
        margin-top: 10px; 
        margin-bottom: 20px; 
        border-radius: 40%;    
    }
    
    footer aside {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
    }

    footer {
        margin-left:250px;
        text-align: center;
    }

    .hyfpic {
        min-width: 150px;
        width:100%;
        max-width: 700px;
        margin:auto;
    }

    table, th, td {
        border: 1px solid rgb(0, 7, 102);
        padding:5px;

    }
}
